<div id="contactform">
      <h1> Contact me </h1>
      <%= form_for(@contact_form) do |f| %>
      <% if @contact_form.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

          <ul>
          <% @contact_form.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :First_Name %><br>
        <%= f.text_field :firstName %>
      </div>
      <div class="field">
        <%= f.label :Last_Name %><br>
        <%= f.text_field :lastName %>
      </div>
      <div class="field">
        <%= f.label :Email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :Message %><br>
        <%= f.text_field :message %>
      </div>
      <div class="actions">
        <%= f.submit 'Contact Robby' %>
      </div>
    <% end %>
</div>
