
<div id="nav" class="">
  <ul id="menu" class="">
    <li id="home">Home</li>
    <li id="about">About</li>
    <li id="portfolio_link">Portfolio</li>
    <li id="contact">Contact</li>
  </ul>

</div>

<div id="body">
<p id="notice"><%= notice %></p>

<div id="top_div">
  <h1>Robert Tassy</h1>
</div>

<div id="about-me">
  <h1>About me</h1>

  <div id="picture">
    <p>pic here</p>
  </div>


  <div id="bio">
    <p> Here's what you need to know about me</p>
  </div>

</div>

<div id="portfolio">
  <h1>Portfolio</h1>
      <div id="sample-one">
        Sample one
      </div>
      <div id="sample-two">
        Sample two
      </div>
      <div id="sample-three">
        Sample three
      </div>
</div>


<div id="contact-me">
  <h1> Contact me </h1>
  <div id="formbox">
    <p>Hey!</p>

    <!-- <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Message</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @contact_forms.each do |contact_form| %>
          <tr>
            <td><%= contact_form.firstName %></td>
            <td><%= contact_form.lastName %></td>
            <td><%= contact_form.email %></td>
            <td><%= contact_form.message %></td>
            <td><%= link_to 'Show', contact_form %></td>
            <td><%= link_to 'Edit', edit_contact_form_path(contact_form) %></td>
            <td><%= link_to 'Destroy', contact_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Contact form', new_contact_form_path %> -->
  </div>
</div>
