
<div id="nav" class="">
  <ul id="menu" class="">
    <li id="home">Home</li>
    <li id="about">About</li>
    <li id="portfolio_link">Portfolio</li>
    <li id="contact">Contact</li>
  </ul>

</div>

<div id="body">
<p id="notice"><%= notice %></p>

<div id="top_div">
  <h1>ROBERT TASSY</h1>
</div>

<div id="about-me">
  <h1>About me</h1>

  <div id="picture">
  </div>


  <div id="bio">
    <h2>What it boils down to...</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Praesent vulputate eu ante eu maximus. Donec sed nunc pretium, vestibulum
      velit quis, congue nisi. Curabitur sed massa rhoncus, euismod nisi a, tristique justo.
      Suspendisse tristique cursus justo ut laoreet. Vivamus et bibendum lacus, id volutpat tellus.</p>
      <br>
      <p>In hac habitasse platea dictumst. Aliquam a consequat magna.
      Donec blandit tellus at posuere rutrum.
      Sed feugiat, eros ut consequat commodo, libero diam placerat lacus, in varius nulla massa in felis.
      Integer nec magna id erat sodales congue eget fermentum purus.</p>
  </div>

</div>

<div id="portfolio">
  <h1>Portfolio</h1>

      <div id="mywork">
        <ol>
          <li>World of Wyncraft</li>
          <li>Voter Simulation</li>
          <li>Tip Calculator</li>
        </ol>
        <ol>
          <li>Misc Project</li>
          <li>Wyndex</li>
          <li>TravelPal</li>
        </ol>
    </div>

      <!-- <div id="sample-one">
        <h2>World of Wyncraft</h2>
        <p>
           a read–eval–print loop (REPL) game made with Ruby code. In this game,
           a user can select a Hero with a specfic amout of health and attack points
           to battle with another player with specific health and attacks too.
           There can only be one winner!
        </p>
      </div>
      <div id="sample-two">
        <h2>Voter Simulation</h2>
        <p>
          a read–eval–print loop (REPL) game made with Ruby code. In this game,
          a user can select a Hero with a specfic amout of health and attack points
          to battle with another player with specific health and attacks too.
          There can only be one winner!
        </p>
      </div>
      <div id="sample-three">
        <h2>Tip Calculator</h2>
        <p>
          a read–eval–print loop (REPL) game made with Ruby code. In this game,
          a user can select a Hero with a specfic amout of health and attack points
          to battle with another player with specific health and attacks too.
          There can only be one winner!
        </p>
      </div> -->
</div>


<div id="contact-me">
  <div id="formbox">
    <%= render 'form' %>
  </div>



    <!-- <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Message</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @contact_forms.each do |contact_form| %>
          <tr>
            <td><%= contact_form.firstName %></td>
            <td><%= contact_form.lastName %></td>
            <td><%= contact_form.email %></td>
            <td><%= contact_form.message %></td>
            <td><%= link_to 'Show', contact_form %></td>
            <td><%= link_to 'Edit', edit_contact_form_path(contact_form) %></td>
            <td><%= link_to 'Destroy', contact_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Contact form', new_contact_form_path %> -->

</div>
