
<div id="nav" class="toggled">
  <ul id="menu" class="">
    <li id="home">Home</li>
    <li id="about">About</li>
    <li id="portfolio_link">Portfolio</li>
    <li id="contact">Contact</li>
  </ul>
</div>

<div id="body">
<p id="notice"><%= notice %></p>

<div id="top_div">
  <h1>Robert Tassy</h1>
  <div id="recommendation">
    <li>"<em>Robert’s hard work and dedication made him an integral part of the team.</em>" -Jessica Braid</li>
    <li>"<em>Whenever I had an idea to surprise our team I would always go to Robert to help me put my plan into action.</em>" -Amanda Martin </li>
    <li>"<em>It is rare to find someone who, in such a short time, can create strong and lasting relationships. Robert is this type of individual.</em>" -Christian Garcia</li>
  </div>
</div>

<div id="about-me">

  <div id="picture">
  </div>

  <div id="bio">
    <h2>About me...</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Praesent vulputate eu ante eu maximus. Donec sed nunc pretium, vestibulum
      velit quis, congue nisi. Curabitur sed massa rhoncus, euismod nisi a, tristique justo.
      Suspendisse tristique cursus justo ut laoreet. Vivamus et bibendum lacus, id volutpat tellus.</p>
      <br>
      <p>In hac habitasse platea dictumst. Aliquam a consequat magna.
      Donec blandit tellus at posuere rutrum.
      Sed feugiat, eros ut consequat commodo, libero diam placerat lacus, in varius nulla massa in felis.
      Integer nec magna id erat sodales congue eget fermentum purus.</p>
  </div>
</div>

<div id="portfolio">
  <h1>My Projects</h1>

      <div id="mywork">
        <ol>
          <li><strong>World of Wyncraft</strong>
            <p>a two-player REPL game playable on Terminal.app that lets players
            with distinct health and attack points battle until one stands victorious.</p>
          </li>
          <li><strong>Voter Simulation</strong>
            <p>a REPL simuation that allows the user to register a voter or politician
            based on political affiliations by using CRUD (Create, Read,
            Update, Destroy) to store their record.</p>
          </li>
          <li><strong>Tip Calculator</strong>
            <p>a REPL calculator that takes your total bill amount and calculates
            your tip amount and portion of the bill if you choose to split it with others</p>
          </li>
        </ol>
        <ol>
          <li><strong>To Do List</strong>
            <p>a to do list that allows you to make new tasks, edit existing one, and mark as complete
            the ones that have already been completed</p>
          </li>
          <li><strong>Wyndex</strong>
            <p>Social media stalking just got easier. A web application that aggregates someone's
              social media posts and puts them on one web page place for you using Twitter and Slack API. </p>
          </li>
            <li><strong>TravelPal</strong>
            <p>You've got a pal in your pocket. This texting friend parses your travel expenses by breaking them down by cost, location, and
            category when you send a text to it. Using specific APIs, we break down your text into actionable insight. </p>
          </li>
        </ol>
    </div>

      <!-- <div id="sample-one">
        <h2>World of Wyncraft</h2>
        <p>
           a read–eval–print loop (REPL) game made with Ruby code. In this game,
           a user can select a Hero with a specfic amout of health and attack points
           to battle with another player with specific health and attacks too.
           There can only be one winner!
        </p>
      </div>
      <div id="sample-two">
        <h2>Voter Simulation</h2>
        <p>
          a read–eval–print loop (REPL) game made with Ruby code. In this game,
          a user can select a Hero with a specfic amout of health and attack points
          to battle with another player with specific health and attacks too.
          There can only be one winner!
        </p>
      </div>
      <div id="sample-three">
        <h2>Tip Calculator</h2>
        <p>
          a read–eval–print loop (REPL) game made with Ruby code. In this game,
          a user can select a Hero with a specfic amout of health and attack points
          to battle with another player with specific health and attacks too.
          There can only be one winner!
        </p>
      </div> -->
</div>


<div id="contact-me">
  <div id="formbox">
    <%= render 'form' %>
  </div>



    <!-- <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Message</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @contact_forms.each do |contact_form| %>
          <tr>
            <td><%= contact_form.firstName %></td>
            <td><%= contact_form.lastName %></td>
            <td><%= contact_form.email %></td>
            <td><%= contact_form.message %></td>
            <td><%= link_to 'Show', contact_form %></td>
            <td><%= link_to 'Edit', edit_contact_form_path(contact_form) %></td>
            <td><%= link_to 'Destroy', contact_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Contact form', new_contact_form_path %> -->

</div>
